
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px;
    }
}

#carousel2 {
    border-radius: 15px;
    border: solid 2px;
    max-width: 50%;
    max-width: 56%;
    color: white;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
;
}

#videoprueba {
    max-width: 100%;
    font-size: 13px;
    font-style: italic;
    font-family: system-ui;
    padding-top: 30px;
    margin-right: 3000px;
}

iframe {
    width: -webkit-fill-available;
    border: solid 2px black;
}

div#carouselExampleCaptions {
    padding-bottom: 30px;
    width: 85%;
}

#h4{
    text-align: center;
}