/* Definimos estilos a los iconos de las redes sociales*/

img#imgInstagram {
    text-align: center;
    border-style: none;
    width: 20px;
    margin-left: 5px;
    background: none;
}

img#imgWhatsApp {
    text-align: center;
    border-style: none;
    width: 21px;
    margin: 10px;
    margin-right: 0px;
    background: none;
}

#boton-barra{
    color: black;
    border-color: black;
    background: #E39741;
    font-size: 15px;
    font-weight: 700;
    border-radius: 9px;
    margin-left: 15px;

}

#boton-barra:hover{
    background: none;
    border-radius: 4px;
    -webkit-box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
    -moz-box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
    box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
}

#panel-superior{
    background: none;
    color: none;
}